version: '{build}'

image:
  - macos
  - Ubuntu2004

configuration: Release

platform:
  - x64


for:
-
  matrix:
    only:
      - image: macos
  install:
    - curl -Ls https://micromamba.snakepit.net/api/micromamba/osx-64/latest | tar -xvj bin/micromamba
    - mv bin/micromamba ./micromamba
-
  matrix:
    only:
      - image: Ubuntu2004
  install:
    - wget -qO- https://micromamba.snakepit.net/api/micromamba/linux-64/latest | tar -xvj bin/micromamba --strip-components=1

build_script:
  - ./micromamba shell init -s bash -p ~/micromamba
  - source ~/.bashrc
  - source ~/.bash_profile
  - hash -r
  - mkdir -p ~/micromamba/pkgs/
  - export MAMBA_ROOT_PREFIX=~/micromamba
  - export MAMBA_EXE=$(pwd)/micromamba
  - . $MAMBA_ROOT_PREFIX/etc/profile.d/mamba.sh
  - git submodule update --init --recursive
  - cd xcube
  - micromamba create -y -f environment.yml -c conda-forge
  - micromamba activate xcube
  - python setup.py install

  - micromamba install --channel conda-forge xcube-cci
  - micromamba install -c conda-forge xcube-sh
  - micromamba install --channel conda-forge xcube-cds
  - cd ..
  - micromamba install -c conda-forge jupyterlab

  - mkdir jupyter_nbs
  - for nb in */examples/notebooks/*.ipynb;
    do
      jupyter nbconvert --to python  --ExecutePreprocessor.kernel_name=python3 $nb;
    done
  - mv */examples/notebooks/*.py jupyter_nbs
  - for nb in jupyter_nbs/*.py;
    do
      echo "Testing ${nb}";
      python $nb;
    done
